@model ModelValidation.Models.MakePersonViewModel

@{
    ViewBag.Title = "CompletedPerson";
}

<h4>Your Person is confirmed</h4>
<p>Your name is: <b>@Html.DisplayFor(m => m.Name)</b></p>
<p>The PhoneNumber of your Person is: <b>@Html.DisplayFor(m => m.Email)</b></p>